*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}



body{
    background: url(../imagens/fundo.png) repeat-x;
    height: 233px;
}

h5{
    background-color:rgb(202, 26, 76);
    color: white;
    display: inline-block;
    padding:2px
}

#conteiner-pai{
    margin: 0 auto;
    width: 850px;
    
}


#menu-top{
   margin-top: 60px;
   margin-left: 30px;
}




#menu-top a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}
#menu-top li{
    list-style: none;
    float: left;
    padding: 10px 15px;
    background: url(../imagens/divisor.png) no-repeat left;
    background-color:rgb(177, 3, 51);
}
#menu-top a:hover{
    color: rgb(116, 2, 34);
}

#logo{
    position: relative;
    top: 40px;
    left: 30px;
}

#detalhe{
    position: relative;
    top: -130px;
    clear: both;
}



#conteudo-pai{
    margin-top: -60px;


}

h3{
    background-color: rgb(41, 76, 113);
    color: white;
    padding: 4px;
    margin-bottom: 3px;
}


#conteudo-esquerdo{
    width: 230px;
    float: left;
    
}

#menu-esquerdo{
    padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    
}

#menu-esquerdo a{
    color: black;
    text-decoration: none;
    background-color: white;
    display: block;
    padding: 10px 3px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

#menu-esquerdo a:hover{
    color: grey;
    background: url(../imagens/marcador.png) no-repeat left center rgb(238, 237, 237);
    text-indent: 15px;
}

#menu-esquerdo ul{
    list-style: none;
    
}

#noticias{
    margin-top: 10px;
    padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    
}

#submit{
    color: white;
    background-color: rgb(177, 3, 51);
    padding: 6px;
} 
#email{
    border-radius: 1px;
    height: 30px;
    text-indent: 4px;
}
.fundobranco{
    background-color: white;
    padding: 0 10px;
}


#conteudo-centro{ 
    width: 300px;
    float: left;
    margin: 0 10px;
    padding: 5px;
}

.destaque-caixa{
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    padding: 4px;
    
}
.destaque-conteudo{
    background-color: white;

}
.destaque-conteudo img{
    border: 1px solid gray;
}

.mundo-caixa{
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    padding: 4px;
}
.mundo-conteudo{
    background-color: white;
}
.lista-mundo a{
    text-decoration: none;
    height: 65px;
    display: inline-block;
    color: black;
    margin-bottom: 4px;
    border-bottom: 1px solid gray;
}
.lista-mundo a:hover{
    background-color: rgb(196, 193, 193);
}

ul.lista-mundo{
    list-style: none;
}

.lista-mundo  li img{
    float: left;
    margin:5px;

}
.lista-mundo h4{
    color: rgb(173, 173, 253);
}

a.leia-mais{
    color: darkred;   
}
a:hover.leia-mais{
    color: rgb(185, 91, 91);
}

#conteudo-direito{
    float: right;
    width: 280px;
}
